<div class="container">
  <div class="row justify-content-center p-2">
    <h1>Опубликовать стих</h1>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="employeeName" placeholder="Название">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" [(ngModel)]="employeeAge" placeholder="Ваш возраст">
  </div>
  <div class="form-group">
    <select type="text" class="form-control" [(ngModel)]="employeeGenre">
      <option value="" disabled selected>Выберите жанр</option>
      <option value="Sad">Радостный</option>
      <option value="Funny">Смешной</option>
      <option value="futuristic">Футуристичный</option>
      </select>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" [(ngModel)]="employeeAddress" placeholder="Ваше стихотворение" ></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="CreateRecord()" [disabled]="!employeeName || !employeeAge || !employeeAddress || employeeGenre==''">Опубликовать</button>
  </div>
  <div class="form-group">
    <h4><b>{{message}}</b></h4>
  </div>

  <div class="row p-2" >
    <div class="col-md-12 p-2 justify-content-center">
      <h4>Ваше творчество</h4>
    </div>

    <div class="col-md-3" *ngFor ="let item of employee">

      <div class="card"  *ngIf="item.user == this.authservice.curUser">
        <div *ngIf="!item.isedit; else elseBlock">
        <div class="card-body">
          <div class="card-title">
                {{item.name}}
          </div>
          <div class="card-subtitle">
            {{item.age}} лет
          </div>
          <div class="card-subtitle">
            {{item.genre}} 
          </div><br>
          <div class="card-text">
            <p>
            {{item.address}}</p>
          </div>
          <div class="card-text">
            {{item.mark}} очков от пользователей
          </div><br>
          <div class="form-group">
            <button class="btn btn-primary btn-xs" (click)="EditRecord(item)">Изменить</button>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)= "Deleteemployee(item.id)">Удалить</button>
          </div>
        </div>
        </div>
      </div>

      <ng-template #elseBlock>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Редактировать элемент
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-md-12">
                  <input type="text" [(ngModel)]="item.editname" class="form-control">
                </div>
                <div class="col-md-12">
                  <input type="number" [(ngModel)]="item.editage" class="form-control">
                </div>
                <div class="col-md-12">
                  <textarea [(ngModel)]="item.editaddress">
                  {{item.editaddress}}
                  </textarea>
                  <!-- <input type="text" [(ngModel)]="item.editaddress" class="form-control"> -->
                </div>
              </div>
            </div>

            <button class="btn btn-danger btn-xs" (click)="item.isedit = false">Закрыть</button>
            <button class="btn btn-primary btn-xs" (click)="Updatarecord(item)">Изменить</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

