<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Стань юным дарованием</h1>
    <p class="lead">Прими участие в соревновании на звание лучшего поэта этого сайта. Раскрой свой талант. </p>
    <p class="lead">Здесь вы можете публиковать свои работы, оценивать работы других пользователей и в полной мере раскрыть свой творческий потенциал юного поэта!</p>
      <div class="lead"><a href="#" routerLink="/create">Стать поэтом!</a></div>
  </main>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>

