<div class="navbar navbar-dark">
      <a class="nav-item nav-link" [routerLink]="'/'"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Democrat</a>
      <!-- routerLinkActive используется для применения css класса к выбранному пункту меню, в данном случае active - сss класс -->
      <!-- [routerLinkActiveOptions]="{exact: true}" - используется, для того, чтобы указать полное и строгое соответствие адресу в строке и роуту -->
      <a class="nav-item nav-link" [routerLink]="'/list'" routerLinkActive="active" >Каталог</a>
      <a class="nav-item nav-link" [routerLink]="'/create'" routerLinkActive="active">Создать</a>
      <a class="nav-item nav-link" [routerLink]="'/login'" routerLinkActive="active">Логин</a>
  </div>
